.header {
  background-color: grey;
  height: 40px;
  width: 1600px;
}

.header-list li {
  list-style: none;
  float:left;
  margin-left:auto;
  color:white;
  padding: 10px;
}

.header-title img {
  width:1600px;
  height:500px;
}

.header-title {
  position: relative
}

.header-title h1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 55px;
  color: white;
  opacity: 0.8;
}

.header-title h2 {
  position: absolute;
  top : 80px;
  left: 0;
  font-size: 30px;
  color: white;
  opacity: 0.8;
}

.header-title h3 {
  position: absolute;
  top: 250px;
  left: 0;
  font-size: 20px;
  color: white;
}

.twitter {
  background-color: #55acee;
}

.facebook {
  background-color: #3b5998;
}

.header-title i {
  padding: 15px;
}


.top-wrapper h1 {
  color: black;
}
